<!--<div style="height: 100vh; display: flex; justify-content: space-between;">

    <div style="height: 100vh; width: 100%; background-color: #373e48;">
        <div style="height: 5vw; width: 5vw; background-color: aquamarine;"></div>
        <div style="display: flex;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <p>home</p>
        </div>
        <div style="display: flex;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <p>menu option1</p>
        </div>
        <div style="display: flex;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <p>menuoption2</p>
        </div>
        <div style="display: flex;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <p>menuoption2</p>

        </div>
    </div>

    <div style="background-color: rgb(214, 226, 43); width: 70vw; height: 30vh;">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
        </mat-card>
        <p>Selected date: {{selected}}</p>
    </div>




    <div style="display: flex; flex-direction: column; justify-content: space-around; width: 100%; height: 100vh;">

       
    </div>




</div>-->




<div style="display: flex;">

    

    <div class="sidebar">

        <div style="background-color: rgba(70, 70, 70, 0.123); width: 10vw; height: 10vw; ">
            
        </div>


        <div style="width: 100%;">
            <div style="display: flex; ">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <p>home</p>
            </div>
        </div>
        <div style="width: 100%;">
            <div style="display: flex;">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <p>home</p>
            </div>
        </div>
        <div style=" width: 100%;">
            <div style="display: flex;">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <p>home</p>
            </div>
        </div>
        <div style="width: 100%;">
            <div style="display: flex;">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <p>home</p>
            </div>
        </div>
        <div style="width: 100%; height: 5%;">
            <div style="display: flex;">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <p>home</p>
            </div>
        </div>

        <div style="height: 30vh;"></div>
    


        <div style="background-color: rgba(70, 70, 70, 0.123); width: 100%; height: 10vw; ">
            
        </div>


    </div>

    <div class="topNavigation"></div>

    


</div>

<app-sidebar></app-sidebar>